@font-face {
	font-family: 'Harriet Text Bold';
	src: url('/assets/fonts/HARRIETTEXTBOLD.OTF') format('truetype');
 }


 :root{
    --body-copy:2vh;

    --main-heading: calc(var(--body-copy) * 3.1);
    --sub-heading: calc(var(--body-copy) * 1.4);
    --smaller-sub-heading: calc(var(--body-copy) * 1.02);
    --line-height: calc(var(--body-copy)*1.5);
    --circle-size: 45vh;
}

html, body{
    scroll-behavior: smooth;
}

/* laptop */
@media (min-width: 769px) {
    :root{
        --body-copy:2.5vh;

        --main-heading: calc(var(--body-copy) * 5.3);
        --sub-heading: calc(var(--body-copy) * 2.3);
    }
}

@media print{

        @page{
            margin: 70px;
        }
    
        :root{
            --body-copy:12pt;
            --page-spacing: 0.25in;
    
            --main-heading: calc(var(--body-copy) * 5);
            --sub-heading: calc(var(--body-copy) * 3);
    
            --brand-color: white;
        }
    }

/* mobile */
body{
    font-family: Helvetica, sans-serif;
    font-size: var(--body-copy);
    line-height: var(--line-height);
}

header{
    padding-bottom: 15vw;
}


h1{
    font-size: var(--main-heading);
    line-height: calc(var(--line-height)*2.75);
    font-family: 'Harriet Text Bold', serif;
    margin-left: auto;
}

h2{
    font-size: var(--sub-heading);
    line-height: calc(var(--line-height)*1.5);
    margin-top: 20px;
    font-style: italic;
}

h3{
    font-size: var(--smaller-sub-heading);
    line-height: calc(var(--line-height)*1.25);
    margin-top: 20px;
}

p{
    max-width: 55ch;
    line-height: var(--line-height);
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}

em{
    font-style: italic;
}

a{
    text-decoration: underline;
    color: rgb(115, 115, 115);
}


.scroll {
    display:inline;
    flex-wrap: nowrap;
    overflow-y: auto;
}

main{
    display: flex;
    flex-direction: column;
}


.circle{
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    mix-blend-mode: multiply;
}

.circle-sticky{
    position: sticky;
    top: 0;
    z-index: -1;
}

.circle-title{
    background-color: #D5FFC4;
    margin-top: 3vh;
    margin-left: 5vw;
    
}

.card{
    flex: 0 0 auto;
    margin-left: 6vw;
    margin-right: 3vw;
    max-width: 100vw;
}

.title{
    margin-top: -34vh;
    margin-left: 9.5vw;
}


.intro{
    margin-bottom:22vw;
}

/* .intro-slide{
    background-color:aqua;
} */

.image-0{
    margin-top: 84vw;
    margin-left: -87vw;
    mix-blend-mode: lighten;
    z-index: -10;
    transform: scale(2.7);
}

.article-intro{
    margin-left: -18vw;
    margin-top: 31vw;
    margin-right: -10vw;
}

.article-1{
    max-width: 53ch;
    margin-left: 27vw;
}

.circle-article-1{
    width: calc(var(--circle-size)*0.4);
    height: calc(var(--circle-size)*0.4);
    background-color: #3388FF;
    padding-bottom: 7vh;
    margin-top: -26vh;
    margin-left: 21vw;
    mix-blend-mode: color-burn;
}

.article-2{
    margin-top: 24vw;
    margin-left: 30vw;
}

.circle-article-2{
    width: calc(var(--circle-size)*0.4);
    height: calc(var(--circle-size)*0.4);
    background-color: #FFD84E;
    padding-bottom: 7vh;
    margin-top: -23vh;
    margin-left: 76vw;
    mix-blend-mode: exclusion;
}

.article-3{
    padding-top: 15vw;
    margin-left: 34vw;
}

.circle-article-3{
    width: calc(var(--circle-size)*0.45);
    height: calc(var(--circle-size)*0.45);
    background-color: #FF5252;
    padding-bottom: 7vh;
    margin-top: -21vh;
    margin-left: 65vw;
    mix-blend-mode: hue;
}

.circle-1{
    padding-bottom: 7vh;
    margin-top: 102vh;
}

.circle-anchor{
    width: calc(var(--circle-size)*0.5);
    height: calc(var(--circle-size)*0.5);
    color:#3388FF;
}

.title-gallery{
    display:flex;
    flex-direction: column;
}

.quote-1{
    font-family: 'Harriet Text Bold', serif;
    font-size: calc(var(--body-copy)*1.5);
    transform: rotate(90deg);
    margin-bottom: 64px;
    min-width: 115vh;
    margin-left: -47vw;
    margin-top: -122vw;
    mix-blend-mode: difference;
}

.quote-1 p {
    max-width: 60ch;
}

.image-1{
    margin-left: -24vw;
    margin-top: -71vw;
    transform: rotate(90deg) scale(1.25);
    mix-blend-mode: difference;
}

.header-article-1{
    margin-top: -60vw;
    margin-left: 7vw;
    color: #1E1E1E;
    max-width: 95vw;
    padding-bottom: 44vw;
}

.header-article-1 h1{
    font-size: calc(var(--main-heading)*0.75);
    line-height: calc(var(--line-height)*2.25);
    font-family: 'Harriet Text Bold', serif;
    margin-left: auto;
}

.header-article-1 h2{
    font-size: calc(var(--sub-heading)*0.75);
    line-height: calc(var(--line-height)*1.3);
    margin-top: 5vh;
    font-family: Helvetica, sans-serif;
    font-style: italic;
}

.header-article-1 h3{
    font-size: calc(var(--smaller-sub-heading)*1.5);
    line-height: calc(var(--line-height)*0.6);
    margin-top: 5vh;
    font-family: Georgia, serif;
}

.header-article-1 .card{
    max-width: 100vw;
}

.circle-header-article-1{
    width: calc(var(--circle-size)*0.8);
    height: calc(var(--circle-size)*0.8);
    background-color: #3D8AFF;
    margin-top: 75vh;
    padding-bottom: 7vw;
    margin-left: 1vw;
    margin-right: 55vw;
}

.gallery-title-2{
    display: flex;
    flex-direction: column;
    /* background-color:#FF5252; */
}

/* circle anchor */
.circle-2 {
    padding-bottom: 10vh;
    /* margin-top: -80vh; */
    margin-left: 70vw;
}

.image-2 {
    position: sticky;
    top: 0;
    z-index: -1;
    margin-left: 6vw;
}

#circle-article-2 {
    width: calc(var(--circle-size)*1);
    height: calc(var(--circle-size)*1);
    border-radius: 50%;
    transform: rotate(90deg);
}

.quote-2{
    margin-top: 28vh;
    margin-left: 13vw;
    mix-blend-mode: saturation;
    text-transform: uppercase;
    transform: rotate(90deg);
    width: 100vw;
}

.quote-2 p{
    font-size: calc(var(--sub-heading)*0.85);
    line-height: calc(var(--line-height)*3);
    font-family: 'Harriet Text Bold', serif;
    padding: 3vw;
    background-color: #FFD84E;
}

.circle-header-article-2{
    width: calc(var(--circle-size)*0.8);
    height: calc(var(--circle-size)*0.8);
    background-color: #FFD84E;
    margin-top: 12vh;
    padding-bottom: 7vw;
    margin-left: 3vw;
    margin-right: 55vw;
}

.header-article-2 {
    margin-top:-55vw;
    padding-bottom: 20vw;
}

.header-article-2 h1{
        font-size: calc(var(--main-heading)*0.9);
        line-height: calc(var(--line-height)*2.25);
        font-family: 'Harriet Text Bold', serif;
        margin-left: -5px;
}

.header-article-2 h2{
    font-size: calc(var(--sub-heading)*0.85);
    line-height: calc(var(--line-height)*1.3);
    margin-top: 8vw;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    margin-left: -5px;
}

.header-article-2 h3{
    font-size: calc(var(--smaller-sub-heading)*1.3);
    line-height: calc(var(--line-height)*0.6);
    margin-top: 5vh;
    font-family: Georgia, serif;
}

.gallery-title-3{
    display: flex;
    flex-direction: column;
    /* background-color:#FF5252; */
}

.image-3{
    margin-top: 120vw;
    margin-left: -2vw;
    margin-right: -3vw;
    position: sticky;
    top: 0;
    z-index: -1;
}

#image-gallery-3{
    height: 100%;
    width: 100%;
    transform: rotate(90deg) scale(1.8);
}

.circle-3 {
    padding-bottom: 7vh;
    margin-top: 79vh;
    margin-left: 45vw;
}


.image-4{
    font-size: calc(var(--sub-heading)*1.1);
    font-family: 'Harriet Text Bold', serif;
    margin-top: 23vh;
    mix-blend-mode: screen;
    margin-right:0vw;
    transform:rotate(90deg);
}

.circle-header-article-3-1 {
    width: calc(var(--circle-size)*0.7);
    height: calc(var(--circle-size)*0.7);
    background-color: #FF5E5E;
    margin-top: 7vh;
    /* padding-bottom: 7vw; */
    margin-left: 62vw;
}

.space-in-between{
    text-transform: uppercase;
    margin-left: 132vw;
    margin-top: -22vh;
    line-height: calc(var(--line-height)*2);
    font-size: calc(var(--sub-heading)*0.75);
    color: #FF5E5E;
    width: 100%;
}

.circle-header-article-3-2 {
    width: calc(var(--circle-size)*0.7);
    height: calc(var(--circle-size)*0.7);
    background-color: #FF5E5E;
    margin-top: -23vh;
    /* padding-bottom: 15vw; */
    margin-left: 198.5vw;
}

.circle-header-article-3-1 p{
    text-transform: uppercase;
    margin-left: 12.5vw;
    padding-top: 14vh;
}

.circle-header-article-3-2 p{
    text-transform: uppercase;
    margin-left: 12.5vw;
    padding-top: 14vh;
}

.circle-header-article-3{
    width: calc(var(--circle-size)*0.8);
    height: calc(var(--circle-size)*0.8);
    background-color: #FF5E5E;
    margin-top: 51vh;
    padding-bottom: 20vw;
    margin-left: 5vw;
    margin-right: 50vw;
}

.header-article-3{
    margin-top: -56vw;
    margin-left: 6vw;
    color: #1E1E1E;
    max-width: 95vw;
    padding-bottom: 30vw;
}

.header-article-3 h1{
    font-size: calc(var(--main-heading)*1);
    line-height: calc(var(--line-height)*3);
    font-family: 'Harriet Text Bold', serif;
    margin-left: auto;
}

.header-article-3 h2{
    font-size: calc(var(--sub-heading)*0.75);
    line-height: calc(var(--line-height)*2);
    margin-top: 6vh;
    font-family: Helvetica, sans-serif;
    font-style: italic;
}

.header-article-3 h3{
    font-size: calc(var(--smaller-sub-heading)*1.5);
    line-height: calc(var(--line-height)*0.6);
    margin-top: 5vh;
    font-family: Georgia, serif;
}

  /* laptop */
@media (min-width: 769px) {

    body{ 
        position: fixed;
        width: 100%;
        font-family: Helvetica, sans-serif;
        font-size: var(--body-copy);
        line-height: var(--line-height);
    }

    .scroll {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    main{
        display: flex;
        flex-direction: row;
        margin-top: 13vh;
        gap: 8vh;
    }

    .intro-slide{
        display: flex;
    }

    h1{
        font-size: calc(var(--main-heading)*1.25);
        line-height: calc(var(--line-height)*5.2);
        font-family: 'Harriet Text Bold', serif;
        margin-left: auto;
    }
    
    h2{
        font-size: var(--sub-heading);
        line-height: calc(var(--line-height)*1.5);
        margin-top: 3.5vh;
        font-style: italic;
    }
    
    h3{
        font-size: calc(var(--smaller-sub-heading)*1.5);
        line-height: calc(var(--line-height)*1.25);
        margin-top: 5vh;
    }

    p{
        max-width: 80ch;
    }

    .card{
        flex: 0 0 auto;
        margin: 5vw;
    }

    .circle{
        width: calc(var(--circle-size)*2);
        height: calc(var(--circle-size)*2);
        border-radius: 50%;
    }
    
    .circle-sticky{
        position: sticky;
        left:0;
        z-index: -1;
        margin-top:-6vw;
    }

    .circle-1{
        padding-bottom: 7vh;
        margin-top: -7vh;
        margin-left: 180vw;
    }

    .circle-anchor{
        width: calc(var(--circle-size)*2);
        height: calc(var(--circle-size)*2);
        z-index: -1;
    }

    .circle-title{
        background-color: #D5FFC4;
        top: 6vh;
        padding-bottom:7vh;
        left: 35px;
        
    }

    .title{
        margin-right: 10vh;
        height: 100vh;
        margin-top: 5vw;
        margin-left: -84vh;
    }

    .intro{
        margin-top:3vw;
    }

    /* .intro-slide{
        background-color: #FF5252; 
    } */

    .image-0{
        margin-top: -30vw;
        margin-left: -10vw;
        mix-blend-mode: lighten;
        z-index: -1;
        transform: rotate(0deg) scale(0.75);
    }

    .article-intro{
        margin-left: 15vw;
        margin-top: 6vw;
    }

    .article-1{
        max-width: 42ch;
        margin-left: 24vw;
        margin-top:-8vw;
        z-index: -1;
    }

    .circle-article-1{
        width: calc(var(--circle-size)*0.4);
        height: calc(var(--circle-size)*0.4);
        background-color: #3388FF;
        padding-bottom: 7vh;
        margin-top: -20vh;
        margin-left: 18vw;
        mix-blend-mode: color-burn;
    }

    .article-2{
        margin-top: 9vw;
        margin-left: 15vw;
        max-width: 57ch;
    }

    .circle-article-2{
        width: calc(var(--circle-size)*0.5);
        height: calc(var(--circle-size)*0.5);
        background-color: #FFD84E;
        padding-bottom: 7vh;
        margin-top: -30vh;
        margin-left: 1vw;
        mix-blend-mode:exclusion;
    }

    .article-3{
        padding-top:8vw;
        margin-left: -1vw;
    }

    .circle-article-3{
        width: calc(var(--circle-size)*0.5);
        height: calc(var(--circle-size)*0.5);
        background-color: #FF5252;
        padding-bottom: 7vh;
        margin-top: -25vh;
        margin-left: -10vw;
        mix-blend-mode:hue;
    }

    .quote-1{
        font-family: 'Harriet Text Bold', serif;
        font-size: calc(var(--body-copy)*1.75);
        margin-left: -15vw;
        mix-blend-mode: difference;
        transform: rotate(0deg)
    }

    .image-1{
        margin-left:-80vw;
        margin-top: 20vw;
        mix-blend-mode: difference;
        transform: rotate(0deg)

    }

    .circle-header-article-1{
        width: calc(var(--circle-size)*1.55);
        height: calc(var(--circle-size)*1.55);
        background-color: #3D8AFF;
        margin-top: -9vh;
        padding-bottom: 7vw;
        margin-left: 28vw;
        margin-right: 55vw;
    }

    .title-gallery{
        display: flex;
        flex-direction: row;
        margin-left: -100vw;
    }

    .header-article-1{
        margin-top: 3vw;
        margin-left: -92vw;
        color: #1E1E1E;
        max-width: 95vw;
    }

    .header-article-1 h1{
        font-size: calc(var(--main-heading)*0.82);
        line-height: calc(var(--line-height)*3);
        font-family: 'Harriet Text Bold', serif;
        margin-left: auto;
    }

    .header-article-1 h2{
        font-size: calc(var(--sub-heading)*0.75);
        line-height: calc(var(--line-height)*1.5);
        margin-top: 4vh;
        font-family: Helvetica, sans-serif;
        font-style: italic;
    }

    .header-article-1 h3{
        font-size: calc(var(--smaller-sub-heading)*1.5);
        line-height: calc(var(--line-height)*0.6);
        margin-top: 5vh;
        font-family: Georgia, serif;
    }

    .header-article-1 .card{
        max-width: 100vw;
    }

    .gallery-title-2{
        display: flex;
        flex-direction: row;
        /* background-color:#FF5252; */
    }

    #circle-article-2 {
        width: calc(var(--circle-size)*1.55);
        height: calc(var(--circle-size)*1.55);
        border-radius: 50%;
        transform: rotate(0deg);
    }

    .image-2 {
        margin-top:-4vh;
        position: sticky;
        left:0;
        z-index: -1;
    }

    .quote-2{
        transform: rotate(0deg);
        width: 65vw;
    }

    .quote-2 p{
        font-size: calc(var(--sub-heading)*0.85);
        line-height: calc(var(--line-height)*3);
        font-family: 'Harriet Text Bold', serif;
        padding: 3vw;
        margin-top:8vh;
        background-color:#FFD84E;
        mix-blend-mode: saturation;
        text-transform: uppercase;
    }

    .circle-2 {
        padding-bottom: 7vh;
        margin-top: -7vh;
        margin-left: 45vw;
    }

    .circle-header-article-1{
        width: calc(var(--circle-size)*1.55);
        height: calc(var(--circle-size)*1.55);
        background-color: #3D8AFF;
        margin-top: -9vh;
        padding-bottom: 7vw;
        margin-left: 28vw;
        margin-right: 55vw;
    }

    .circle-header-article-1:hover{
        background-color: #0064fd;
    }


    .header-article-1{
        margin-top: 3vw;
        margin-left: -92vw;
        color: #1E1E1E;
        max-width: 95vw;
    }

    .header-article-1 h1{
        font-size: calc(var(--main-heading)*0.82);
        line-height: calc(var(--line-height)*3);
        font-family: 'Harriet Text Bold', serif;
        margin-left: auto;
    }

    .header-article-1 h2{
        font-size: calc(var(--sub-heading)*0.75);
        line-height: calc(var(--line-height)*1.5);
        margin-top: 4vh;
        font-family: Helvetica, sans-serif;
        font-style: italic;
    }

    .header-article-1 h3{
        font-size: calc(var(--smaller-sub-heading)*1.5);
        line-height: calc(var(--line-height)*0.6);
        margin-top: 5vh;
        font-family: Georgia, serif;
    }

    .header-article-1 .card{
        max-width: 100vw;
    }

    .circle-header-article-2{
        width: calc(var(--circle-size)*1.55);
        height: calc(var(--circle-size)*1.55);
        background-color: #FFD84E;
        margin-top: -7vh;
        padding-bottom: 7vw;
        margin-left: 19vw;
        margin-right: 55vw;
    }

    .header-article-2{
        margin-top: -1vw;
        margin-left: -92vw;
        color: #1E1E1E;
        max-width: 95vw;
    }

    .header-article-2 h1{
        font-size: calc(var(--main-heading)*1.2);
        line-height: calc(var(--line-height)*4.2);
        font-family: 'Harriet Text Bold', serif;
        margin-left: auto;
    }

    .header-article-2 h2{
        font-size: calc(var(--sub-heading)*0.63);
        line-height: calc(var(--line-height)*2);
        margin-top: 5vh;
        font-family: Helvetica, sans-serif;
        font-style: italic;
    }

    .header-article-2 h3{
        font-size: calc(var(--smaller-sub-heading)*1.5);
        line-height: calc(var(--line-height)*0.6);
        margin-top: 5vh;
        font-family: Georgia, serif;
    }

    .header-article-2 .card{
        max-width: 100vw;
    }

    .gallery-title-3{
        display: flex;
        flex-direction: row;
        /* background-color:#FF5252; */
    }

    .image-3{
        margin-top:-20vh;
        position: sticky;
        left:0;
        z-index: -1;
        transform:rotate(0deg);
    }

    #image-gallery-3{
        margin-top:-30vh;
        height: 100%;
        width: 100%;
        transform: rotate(0deg) scale(1);
    }

    .circle-3 {
        padding-bottom: 7vh;
        margin-top: -7vh;
        margin-left: 45vw;
    }


    .image-4{
        font-size: calc(var(--sub-heading)*1.1);
        font-family: 'Harriet Text Bold', serif;
        margin-top: 23vh;
        mix-blend-mode: screen;
        transform:rotate(0deg);
    }

    .circle-header-article-3-1 {
        width: calc(var(--circle-size)*1.2);
        height: calc(var(--circle-size)*1.2);
        background-color: #FF5E5E;
        margin-top: -10vh;
        padding-bottom: 7vw;
        margin-left: -3vw;
    }

    .space-in-between{
        text-transform: uppercase;
        margin-left: 29vw;
        margin-top: -35vh;
        line-height: calc(var(--line-height)*2);
        font-size: calc(var(--sub-heading)*0.75);
        color:#FF5E5E;
    }

    .circle-header-article-3-2 {
        width: calc(var(--circle-size)*1.2);
        height: calc(var(--circle-size)*1.2);
        background-color: #FF5E5E;
        margin-top: -35vh;
        padding-bottom: 7vw;
        margin-left: 64.5vw;
    }

    .circle-header-article-3-1 p{
        text-transform: uppercase;
        margin-left: 4.5vw;
        padding-top: 25vh;
    }

    .circle-header-article-3-2 p{
        text-transform: uppercase;
        margin-left: 4.5vw;
        padding-top: 25vh;
    }

    .circle-header-article-3{
        width: calc(var(--circle-size)*1.55);
        height: calc(var(--circle-size)*1.55);
        background-color: #FF5E5E;
        margin-top: -7vh;
        padding-bottom: 7vw;
        margin-left: -2vw;
        margin-right: 50vw;
    }

    .header-article-3{
        margin-top: -1vw;
        margin-left: -86vw;
        color: #1E1E1E;
        max-width: 95vw;
    }

    .header-article-3 h1{
        font-size: calc(var(--main-heading)*1.1);
        line-height: calc(var(--line-height)*4.2);
        font-family: 'Harriet Text Bold', serif;
        margin-left: auto;
    }

    .header-article-3 h2{
        font-size: calc(var(--sub-heading)*0.65);
        line-height: calc(var(--line-height)*2);
        margin-top: 6vh;
        font-family: Helvetica, sans-serif;
        font-style: italic;
    }

    .header-article-3 h3{
        font-size: calc(var(--smaller-sub-heading)*1.5);
        line-height: calc(var(--line-height)*0.6);
        margin-top: 5vh;
        font-family: Georgia, serif;
    }

    .header-article-3 .card{
        max-width: 95vw;
    }


}
    
@media print{

    .circle{
        display: none;
    }

 
    .circle-title{
        display: block;
        width: 300px;
        height: 300px;
        top: 0px;
        left: 10px;
    }

    h1{
        font-size: 55pt;
        line-height: 60pt;
        margin-left: -10px;
        margin-top: -20px;
    }

    h2{
        font-size: 20pt;
        line-height: 40pt;
        margin-left: 0px;
    }

    h3{
        margin-top: 0px;
        margin-left: 0px;
    }

    .print-quote{
        display: block;
        font-size: 15pt;
        line-height: 22pt;
        max-width: 55ch;
        margin-top: 30px;
        margin-left: 40px;
        margin-bottom: -8px;
    }

    p{
        font-size: 12pt;
        max-width: 55ch;
        margin-top: 30px;
    }

    a{
        color: black;
        text-decoration: none;
    }

    }
