@font-face {
	font-family: 'Harriet Text Bold';
	src: url('/assets/fonts/HARRIETTEXTBOLD.OTF') format('truetype');
 }


 :root{
    --body-copy:2vh;

    --main-heading: calc(var(--body-copy) * 3.1);
    --sub-heading: calc(var(--body-copy) * 1.4);
    --smaller-sub-heading: calc(var(--body-copy) * 1.02);
    --line-height: calc(var(--body-copy)*1.5);
    --circle-size: 45vh;
}

/* laptop */
@media (min-width: 768px) {
    :root{
        --body-copy:2.5vh;

        --main-heading: calc(var(--body-copy) * 5.3);
        --sub-heading: calc(var(--body-copy) * 2.3);
    }
}

@media print{

        @page{
            margin: 70px;
        }
    
        :root{
            --body-copy:12pt;
            --page-spacing: 0.25in;
    
            --main-heading: calc(var(--body-copy) * 5);
            --sub-heading: calc(var(--body-copy) * 3);
    
            --brand-color: white;
        }
    }

body{
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: var(--body-copy);
    line-height: var(--line-height);
}

header{
    padding-bottom: 15vw;
}


h1{
    font-size: var(--main-heading);
    line-height: calc(var(--line-height)*2.75);
    font-family: 'Harriet Text Bold';
    margin-left: auto;
}

h2{
    font-size: var(--sub-heading);
    line-height: calc(var(--line-height)*1.5);
    margin-top: 20px;
    font-style: italic;
}

h3{
    font-size: var(--smaller-sub-heading);
    line-height: calc(var(--line-height)*1.25);
    margin-top: 20px;
}

.print-quote{
    display: none;
}

p{
    max-width: 55ch;
    line-height: var(--line-height);
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}

em{
    font-style: italic;
}

a{
    text-decoration: underline;
    color: rgb(115, 115, 115);
}

a:hover{
    color: #00ffe1;
}


.scroll {
    display:inline;
    flex-wrap: nowrap;
    overflow-y: auto;
}

main{
    display: flex;
    flex-direction: column;
}


.circle{
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    mix-blend-mode: multiply;
}

.circle-sticky{
    position: sticky;
    top: 0;
    z-index: -1;
    /* margin-top:-10vw; */
}

.circle-title{
    background-color: #FFE600;
    margin-top: 3vh;
    margin-left: 5vw;
    
}

.card{
    flex: 0 0 auto;
    margin-left: 5.5vh;
    margin-right: 3vh;
    max-width: 100vw;
}

.title{
    /* padding: 30px; */
    margin-top: -34vh;
    margin-left: 9.5vw;
}


.intro{
    margin-bottom:22vw;
}

/* .intro-slide{
    background-color: #FF5252; 
} */

.article-1{
    max-width: 53ch;
    margin-left: 31vw;
}

.circle-article-1{
    width: calc(var(--circle-size)*0.4);
    height: calc(var(--circle-size)*0.4);
    background-color: #3388FF;
    padding-bottom: 7vh;
    margin-top: -30vh;
    margin-left: 10vw;
    /* mix-blend-mode: color-burn;*/
}

.article-2{
    margin-top: 42vw;
    margin-left: 5vw;
}

.circle-article-2{
    width: calc(var(--circle-size)*0.5);
    height: calc(var(--circle-size)*0.5);
    background-color: #FFD84E;
    padding-bottom: 7vh;
    margin-top: -33vh;
    margin-left: -6vw;
    mix-blend-mode: exclusion;
}

.article-3{
    padding-top: 44vw;
    margin-left: 16vw;
}

.circle-article-3{
    width: calc(var(--circle-size)*0.5);
    height: calc(var(--circle-size)*0.5);
    background-color: #FF5252;
    padding-bottom: 7vh;
    margin-top: -54vh;
    margin-left: -1vw;
    /* mix-blend-mode:hue;*/
}

.circle-1{
    padding-bottom: 7vh;
    margin-top: 63vh;
    margin-left: 165vw;
}

.circle-anchor{
    width: calc(var(--circle-size));
    height: calc(var(--circle-size));
}

/* .title-gallery{
    display:flex;
} */

.quote-1{
    font-family: 'Harriet Text Bold';
    font-size: calc(var(--body-copy)*1.2);
    /* margin-left: -80vw; */
    margin-top: -52vh;
    /* mix-blend-mode:difference; */
}

.image-1{
    /* margin-left:-80vw; */
    margin-top: 15vw;
    mix-blend-mode: difference;

}

.header-article-1{
    margin-left: 30vw;
}

@media (min-width: 768px) {

    body{ 
        position: fixed;
        width: 100%;
        font-family: Helvetica, sans-serif;
    }

    .scroll {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
        main{
        display: flex;
        flex-direction: row;
        margin-top: 13vh;
        gap: 8vh;

    }

    .intro-slide{
        display: flex;
    }

    h1{
        font-size: calc(var(--main-heading)*1.25);
        line-height: calc(var(--line-height)*5.2);
        font-family: 'Harriet Text Bold';
        margin-left: auto;
    }
    
    h2{
        font-size: var(--sub-heading);
        line-height: calc(var(--line-height)*1.5);
        margin-top: 3.5vh;
        font-style: italic;
    }
    
    h3{
        font-size: calc(var(--smaller-sub-heading)*1.5);
        line-height: calc(var(--line-height)*1.25);
        margin-top: 5vh;
    }

    p{
        max-width: 80ch;
    }

    .card{
        flex: 0 0 auto;
    }

    .circle{
        width: calc(var(--circle-size)*2);
        height: calc(var(--circle-size)*2);
        border-radius: 50%;
    }
    
    .circle-sticky{
        position: sticky;
        left:0;
        z-index: -1;
        margin-top:-6vw;
    }

    .circle-title{
        background-color: #FFE600;
        top: 6vh;
        padding-bottom:7vh;
        left: 35px;
        
    }

    .title{
        margin-right: 10vh;
        height: 100vh;
        margin-top: 5vw;
        margin-left: -93vh;
    }

    .intro{
        margin-top:3vw;
    }

    /* .intro-slide{
        background-color: #FF5252; 
    } */

    .article-1{
        max-width: 53ch;
        margin-left: 31vw;
    }

    .circle-article-1{
        width: calc(var(--circle-size)*0.4);
        height: calc(var(--circle-size)*0.4);
        background-color: #3388FF;
        padding-bottom: 7vh;
        margin-top: -16vh;
        margin-left: 27vw;
        mix-blend-mode: color-burn;
    }

    .article-2{
        margin-top:7vw;
        margin-left: 2vw;
    }

    .circle-article-2{
        width: calc(var(--circle-size)*0.5);
        height: calc(var(--circle-size)*0.5);
        background-color: #FFD84E;
        padding-bottom: 7vh;
        margin-top: -19vh;
        margin-left: 7vw;
        mix-blend-mode:exclusion;
    }

    .article-3{
        padding-top:4vw;
        margin-left: 19vw;
    }

    .circle-article-3{
        width: calc(var(--circle-size)*0.5);
        height: calc(var(--circle-size)*0.5);
        background-color: #FF5252;
        padding-bottom: 7vh;
        margin-top: -19vh;
        margin-left: 16vw;
        mix-blend-mode:hue;
    }

    .circle-1{
        padding-bottom: 7vh;
        margin-top: -7vh;
        margin-left: 165vw;
    }

    .circle-anchor{
        width: calc(var(--circle-size)*2);
        height: calc(var(--circle-size)*2);
    }

    .quote-1{
        font-family: 'Harriet Text Bold';
        font-size: calc(var(--body-copy)*1.75);
        margin-left: -80vw;
        mix-blend-mode:difference;
    }

    .image-1{
        margin-left:-80vw;
        margin-top: 15vw;
        mix-blend-mode: difference;

    }

    .header-article-1{
        margin-left: 30vw;
    }

}
    
@media print{

    .circle{
        display: none;
    }

 
    .circle-title{
        display: block;
        width: 300px;
        height: 300px;
        top: 0px;
        left: 10px;
    }

    h1{
        font-size: 55pt;
        line-height: 60pt;
        margin-left: -10px;
        margin-top: -20px;
    }

    h2{
        font-size: 20pt;
        line-height: 40pt;
        margin-left: 0px;
    }

    h3{
        margin-top: 0px;
        margin-left: 0px;
    }

    .print-quote{
        display: block;
        font-size: 15pt;
        line-height: 22pt;
        max-width: 55ch;
        margin-top: 30px;
        margin-left: 40px;
        margin-bottom: -8px;
    }

    p{
        font-size: 12pt;
        max-width: 55ch;
        margin-top: 30px;
    }

    a{
        color: black;
        text-decoration: none;
    }

    .print-margin{
        margin-top: 30px;
    }

    #dress-quote{
        margin-top: 30px;
    }

    /* .ending{
        margin-top: 40px;
    } */
    }
