@font-face {
	font-family: 'Harriet Text Bold';
	src: url('../assets/fonts/HARRIETTEXTBOLD.OTF') format('truetype');
 }

/* root definition */
 /* mobile */
:root{
    --body-copy: 2.2vh;

    --main-heading: calc(var(--body-copy) * 2.75);
    --sub-heading: calc(var(--body-copy) * 1.05);
    --smaller-sub-heading: calc(var(--body-copy) * 1.2);
    --line-height: calc(var(--body-copy)*1.5);
    --circle-size: 35vh;
}

html, body{
    scroll-behavior: smooth;
}


@media (min-width: 1280px) {
    :root{
        --body-copy:2.5vh;

        --main-heading: calc(var(--body-copy) * 6);
        --sub-heading: calc(var(--body-copy) * 2);
        --circle-size: 35vh;
    }
}

@media print{

        @page{
            margin: 70px;
        }
    
        :root{
            --body-copy:12pt;
            --page-spacing: 0.25in;
    
            --main-heading: calc(var(--body-copy) * 5);
            --sub-heading: calc(var(--body-copy) * 2);
    
            --brand-color: white;
        }
    }


body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: var(--body-copy);
    line-height: var(--line-height);
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

main{
    background-color: #1E1E1E;
    color: #FFFCFC;
}

h1 {
    font-size: var(--main-heading);
    font-family: 'Harriet Text Bold', sans-serif;
    line-height: calc(var(--line-height)*3);
}

h2{
    font-size: var(--sub-heading);
    line-height: calc(var(--line-height)*1.2);
    margin-top: 20px;
    font-style: italic;
}

h3{
    font-size: var(--smaller-sub-heading);
    line-height: calc(var(--line-height)*1.25);
    margin-top: 30px;
    font-family: Georgia, serif;
}

h4{
    font-size: calc(var(--smaller-sub-heading)*1.05);
    line-height: calc(var(--line-height)*1.25);
    margin-top: 30px;
    margin-left:20px;
}

hr{
    display:none;
}

p{
    max-width: 60ch;
    line-height: var(--line-height);
    -webkit-hyphens: manual;
    hyphens: manual;
    margin: 20px;
}

ul{
    margin-left: 25vw;
    margin-right: 12vw;
}

li {
    display: list-item;
    color: #FFFCFC;
    list-style-type: disc;
}

h4{
    font-size: calc(var(--smaller-sub-heading)*1.05);
    line-height: calc(var(--line-height)*1.25);
    margin-top: 30px;
    margin-left:5vw;
}

.title{
    color: #1E1E1E;
    margin: 10px;
    padding-bottom: 8vw;
    margin-top: -60vw;
    margin-left: 6vw;
}

#first{
    padding-top: 15vw;
}

.circle{
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    color:gray;
}


.circle-title{
    background-color: #FF5E5E;
    margin-top:10px;
}

.quote-1{
    background-color: #3E3D3D;
    width: calc(var(--circle-size)*0.8);
    height: calc(var(--circle-size)*0.8);
    margin-left: 37vw;
    margin-top: 10vw;
}

.text-quote-1{
    font-family: 'Harriet Text Bold', sans-serif;
    font-size: calc(var(--body-copy)*1.2);
    color: #FF5E5E;
    margin-left: 2vw;
    margin-top: -47vw;
    padding-bottom: 14vw;
    text-align: right;
}

.quote-2{
    background-color: #FFFCFC;
    width: calc(var(--circle-size)*0.8);
    height: calc(var(--circle-size)*0.8);
    margin-left: 21vw;
    margin-top: 13vw;
}

.text-quote-2{
    font-family: 'Harriet Text Bold', sans-serif;
    color: #FF5E5E;
    margin-left: 11vw;
    margin-top: -38vw;
    padding-bottom: 20vw;
    text-transform: uppercase;
    font-size: calc(var(--body-copy) * 1.2);
}

#highlight {
    color: #FF5E5E;
    font-weight: bold;
}
    

.quote-3-1 {
    background-color: #ff5e5e65;
    width: calc(var(--circle-size)*0.45);
    height: calc(var(--circle-size)*0.45);
    margin-left: 9vw;
    margin-top: 13vw;
}

.quote-3-2 {
    background-color: #ff5e5e65;
    width: calc(var(--circle-size)*0.45);
    height: calc(var(--circle-size)*0.45);
    margin-left: 33vw;
    margin-top: -31vw;
}
.quote-3-3 {
    background-color: #ff5e5e65;
    width: calc(var(--circle-size)*0.45);
    height: calc(var(--circle-size)*0.45);
    margin-left: 57vw;
    margin-top: -31vw;
}

.text-quote-3 {
    font-family: 'Harriet Text Bold', sans-serif;
    color: #FFFCFC;
    margin-left: 25vw;
    margin-top: -23vw;
    padding-bottom: 14vw;
    text-transform: uppercase;
}

.quote-4-1 {
    background-color: #4b4b4b;
    width: calc(var(--circle-size)*0.45);
    height: calc(var(--circle-size)*0.45);
    margin-left: 1vw;
    margin-top: 13vw;
}

.quote-4-2 {
    background-color: #4b4b4b;
    width: calc(var(--circle-size)*0.45);
    height: calc(var(--circle-size)*0.45);
    margin-left: 34vw;
    margin-top: -31vw;
}
.quote-4-3 {
    background-color: #4b4b4b;
    width: calc(var(--circle-size)*0.45);
    height: calc(var(--circle-size)*0.45);
    margin-left: 68vw;
    margin-top: -31vw;
}

.text-quote-4 {
    font-family: 'Harriet Text Bold', sans-serif;
    color: #ff4242;
    margin-left: 27vw;
    margin-top: -23vw;
    padding-bottom: 14vw;
    text-transform: uppercase;
}

.last{
    padding-bottom: 5vw;
    font-weight: bold;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 4.5vw;
    text-decoration: none;
    font-size: calc(var(--body-copy) * 1);
     }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #FF5E5E;
    color: white;
  }

  .sticky {
    position: fixed;
    top: 0;
    background-color: #1E1E1E;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

/* desktop */
@media (min-width: 1280px){
    body{
        font-family:Arial, Helvetica, sans-serif;
        font-size: var(--body-copy);
        line-height: var(--line-height);
    }

    h1 {
        font-size: calc(var(--main-heading)*1);
        font-family: 'Harriet Text Bold', sans-serif;
        line-height: calc(var(--line-height)*4.2);
        padding-bottom:20px;
    }
    
    h2{
        font-size: calc(var(--sub-heading)*0.75);
        line-height: calc(var(--line-height)*1.5);
        margin-top: 20px;
        font-style: italic;
    }
    
    h3{
        font-size: calc(var(--smaller-sub-heading)*1.3);
        line-height: calc(var(--line-height)*1.25);
        margin-top: 30px;
        font-family: Georgia, serif;
    }

    h4{
        font-size: calc(var(--smaller-sub-heading)*1.05);
        line-height: calc(var(--line-height)*1.25);
        margin-top: 5vw;
        margin-left: 7vw;
        margin-bottom: -2vw;
    }

    hr{
        display:none;
    }

    .title{
        color:#1E1E1E;
        margin: 10px;
        padding-bottom: 9vw;
        margin-top: -35vw;
        margin-left: 6vw;
    }

    .circle{
        width: calc(var(--circle-size)*2);
        height: calc(var(--circle-size)*2);
        border-radius: 50%;
    }
    
    
    .circle-title{
        background-color: #FF5E5E;
        margin-left:2vw;
        margin-top: 3vw;
    }

    p{
        max-width: 105ch;
        line-height: var(--line-height);
        -webkit-hyphens: manual;
        hyphens: manual;
        margin-left: 7vw;
        margin-top:4vw;
    }

    ul{
        margin-left: 25vw;
        margin-right: 12vw;
        margin-top:-3vw;
    }

    #first{
        padding-top:3vw;
    }

    .quote-1{
        background-color: #3E3D3D;
        width: calc(var(--circle-size)*1.5);
        height: calc(var(--circle-size)*1.5);
        margin-left: 55vw;
        margin-top: 3vw;
    }
    
    .text-quote-1{
        font-family: 'Harriet Text Bold', sans-serif;
        font-size: calc(var(--body-copy)*1.5);
        color: #FF5E5E;
        margin-right: 15vw;
        margin-top: -20vw;
        padding-bottom: 12vw;
        text-align: right;
    }
    
    .quote-2{
        background-color: #FFFCFC;
        width: calc(var(--circle-size)*1.5);
        height: calc(var(--circle-size)*1.5);
        margin-left: 30vw;
        margin-top: 3vw;
    }
    
    .text-quote-2{
        font-family: 'Harriet Text Bold', sans-serif;
        color: #FF5E5E;
        margin-left: 23.5vw;
        margin-top: -20vw;
        padding-bottom: 13vw;
        text-transform: uppercase;
        font-size: calc(var(--body-copy) * 1.6);
    }
    
    #highlight {
        color: #FF5E5E;
        font-weight: bold;
    }
        
    
    .quote-3-1 {
        background-color: #ff5e5e65;
        width: calc(var(--circle-size)*1.1);
        height: calc(var(--circle-size)*1.1);
        margin-left: 20vw;
        margin-top: 6vw;
    }
    
    .quote-3-2 {
        background-color: #ff5e5e65;
        width: calc(var(--circle-size)*1.1);
        height: calc(var(--circle-size)*1.1);
        margin-left: 39vw;
        margin-top: -21.5vw;
    }
    .quote-3-3 {
        background-color: #ff5e5e65;
        width: calc(var(--circle-size)*1.1);
        height: calc(var(--circle-size)*1.1);
        margin-left: 58vw;
        margin-top: -21.5vw;
    }
    
    .text-quote-3 {
        font-family: 'Harriet Text Bold', sans-serif;
        color: #FFFCFC;
        margin-left: 33.5vw;
        margin-top: -16.5vw;
        padding-bottom: 14vw;
        text-transform: uppercase;
        font-size: calc(var(--body-copy) * 1.6);
    }
    
    .quote-4-1 {
        background-color: #4b4b4b;
        width: calc(var(--circle-size)*1.1);
        height: calc(var(--circle-size)*1.1);
        margin-left: 12vw;
        margin-top: 8vw;
    }
    
    .quote-4-2 {
        background-color: #4b4b4b;
        width: calc(var(--circle-size)*1.1);
        height: calc(var(--circle-size)*1.1);
        margin-left: 37vw;
        margin-top: -22vw;
    }
    .quote-4-3 {
        background-color: #4b4b4b;
        width: calc(var(--circle-size)*1.1);
        height: calc(var(--circle-size)*1.1);
        margin-left: 62vw;
        margin-top: -22vw;
    }
    
    .text-quote-4 {
        font-family: 'Harriet Text Bold', sans-serif;
        color: #ff4242;
        margin-left: 32vw;
        margin-top: -16vw;
        padding-bottom: 14vw;
        text-transform: uppercase;
        font-size: calc(var(--body-copy) * 1.6);
    }
    
    .last{
        padding-bottom: 5vw;
        font-weight: bold;
    }

    #navbar {
        overflow: hidden;
        background-color: #333;
        font-family: Georgia, serif;
      }
      
      #navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 9.4vw;
        text-decoration: none;
        font-size: calc(var(--body-copy) * 1.1);
          }
      
      #navbar a:hover {
        background-color: #ddd;
        color: black;
      }
      
      #navbar a.active {
        background-color: #ff4242;
        color: white;
      }

      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .sticky + .content {
        padding-top: 60px;
      }
    
}

@media print{

    .circle{
        display: none;
    }

 
    .circle-title{
        display: block;
        width: 350px;
        height: 350px;
        top: 0px;
        left: 10px;
    }

    .title{
        padding-top: 130px;
    }

    #navbar{
        display: none;
    }

    main{
        background-color: white;
        color: black;
    }

    #first{
        margin-top:-100px;
    }

    h1{
        font-size: 55pt;
        line-height: 60pt;
        margin-left: -25px;
        margin-top: -20px;
    }

    h2{
        font-size: 20px;
        line-height: 40pt;
        margin-left: -25px;
        margin-right: 10px;
        margin-top: 40px;
    }

    h3{
        margin-top: 20px;
        margin-left: -25px;
    }

    h4{
        margin-top: 60px;
        margin-left: 20px;
        margin-bottom: -20px;
    }

    hr #line-print {
        border: 1px solid #FF5E5E;
      }

    li {
        display: list-item;
        color: black;
        list-style-type: disc;
        margin-left:-105px;
    }

    blockquote{
        display: block;
        font-size: 15pt;
        line-height: 22pt;
        max-width: 55ch;
        margin-top: 700px;
        margin-left: 40px;
        margin-bottom: -50px;
    }

    .text-quote-1{
        margin-top: -670px;
        margin-bottom: -80px;
    }

    .text-quote-2{
        margin-top: -650px;
        margin-bottom: -130px;
    }

    .text-quote-3{
        margin-top: -650px;
        margin-bottom: -90px;
    }

    .text-quote-4{
        margin-top: -670px;
        margin-bottom: -90px;
    }

    .last{
        padding: 0 !important;
    }

  

    p{
        font-size: 12pt;
        max-width: 70ch;
        margin-top: 30px;
        color: black !important;
    }

    a{
        color: black;
        text-decoration: none;
    }

    }